@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-bg: #ffffff;
    --color-bg-offset: #f7f7f9;
    --color-text: #373a3c;
    --color-text-offset: #818a91;
    --color-border: #eceeef;
    --color-primary: #ff335f;
    --color-primary-offset: #ff1447;
    --color-secondary: #43a9a3;
    --font-family-base: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    --font-family-display: Noe Display, Georgia, Times, serif;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--color-primary);
}

body {
    margin: 0;
    font-family: var(--font-family-base) sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-bg);
    color: var(--color-text);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.colorChanger {
    display: block;
    width: 100%;
    font-size: .875rem;
    background-color: var(--color-bg-offset);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: all .8s cubic-bezier(.4, 0, .2, 1);
}

.open {
    max-height: 300px;
}

.button {
    color: var(--color-text);
    background-color: var(--color-bg-offset);
}

.themepicker-btn {
    display: block;
    padding: 1em;
    border-radius: .5em;
    border: 1px solid rgba(0, 0, 0, .1);
    text-align: center;
    position: relative;
    width: 100%;
}

.themepicker-btn.active {
    border: 2px solid var(--color-primary);
}

.themepicker-btn.active::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 12px 10px;
    border-color: transparent transparent var(--color-primary) transparent;
    transform: translate(-50%, 1.25rem);
}

.themepciker-palette {
    display: block;
    padding: .125em 0;
}

.colorChanger-list {
    scrollbar-color: var(--color-border);

}

.theme-picker-color {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    white-space: nowrap;
    text-indent: 100%;
    text-align: left;
    overflow: hidden;
    vertical-align: bottom;
    box-shadow: 0 0 0 2px #fff;
}

.theme-picker-color--primary {
    background-color: var(--color-primary);
}

.theme-picker-color--secondary {
    background-color: var(--color-secondary);
}

.theme-picker-color--border {
    background-color: var(--color-border);
}

.theme-picker-color--textoffset {
    background-color: var(--color-text-offset);
}

.theme-picker-color--text {
    background-color: var(--color-text);
}

/*nav menu*/

.nav__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 40px 0;
}

.nav__logo {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.nav__logo-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.nav__logo-icon {
    fill: #1da1f2;
}

.nav__logo-name {
    font-weight: 700;
    cursor: pointer;
}

.nav__logo-name:hover {
    color: var(--color-primary);
}

.nav__logo-name:after {

}

.nav__list {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav__item {
}

.nav__link {
    color: var(--color-text);
}

.burger-btn {
    display: none;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, .1);
    text-align: center;
    position: relative;
    color: var(--color-text);
    background-color: var(--color-bg-offset);
    border-radius: 50%;
    width: 40px;
}

/*hero*/
.hero {
    min-height: 500px;

}

.hero__inner {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0 4rem;
}

.hero__title {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-size: 5.5rem;
}

.hero__pretitle {
    order: -1;
    font-size: 1.1875rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.hero__text {
    color: var(--color-text);
    font-size: 2rem;
}

@media (max-width: 768px) {
    .nav__list {
        display: none;
    }

    .burger-btn {
        display: inline-block;
    }
}